.contato {
    width: 100%;
    margin: 0 auto;
}

.form {
    width: 100%;
    margin: 2em 0;
    padding: 0 3em;
}

.form-input,
.form-select,
.form-text {
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
}

.form-input label,
.form-select label,
.form-text label {
    margin-bottom: .6em;
    font-weight: bold;
    color: #01257d;
}

.form-input input,
.form-select select {
    padding: .7em;
    border-radius: 10px;
    border: none;
}

.form-input input::placeholder {
    color: #477498a4;
}

.form-text textarea {
    padding: .7em;
    border-radius: 10px;
    border: none;
    height: 150px;
    resize: none;
}

.form-text textarea::placeholder {
    color: #477498a4;
}

/* Responsividade */
@media (max-width: 1024px) {
    .form {
        padding: 0 2em;
    }

    .form-input input,
    .form-select select,
    .form-text textarea {
        font-size: 1em;
    }
}

@media (max-width: 768px) {
    .form {
        padding: 0 1.5em;
    }

    .form-input label,
    .form-select label,
    .form-text label {
        font-size: 1em;
    }

    .form-input input,
    .form-select select,
    .form-text textarea {
        font-size: 0.9em;
        padding: 0.6em;
    }
}

@media (max-width: 480px) {
    .form {
        padding: 0 1em;
    }

    .form-input input,
    .form-select select,
    .form-text textarea {
        font-size: 0.8em;
        padding: 0.5em;
    }
}