.btn {
    color: #01257d;
    padding: 1em 4em;
    font-size: 1.5em;
    text-decoration: none;
    transition: 0.5s;
    border: 3px solid;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: transparent;
}

.btn:hover {
    color: #f8e9d4;
    background-color: #01257d;
    border-color: #01257d;
    cursor: pointer;
}

@media (max-width: 1024px) {
    .btn {
        font-size: 1.2em;
        padding: 0.8em 3em;
        border-radius: 20px;
    }
}

@media (max-width: 768px) {
    .btn {
        font-size: 1em;
        padding: 0.6em 2em;
        border-radius: 15px;
    }
}

@media (max-width: 480px) {
    .btn {
        font-size: 0.9em;
        padding: 0.5em 1.5em;
    }
}