.contact-container {
    width: 100%;
    margin: 0 auto;
    padding: 3em;
}

.contact-container h1 {
    color: #01257d;
    margin-bottom: 0.5em;
    font-weight: bold;
    font-size: 24px;
}

.contact-container p {
    color: #01257d;
    font-weight: 500;
}

.page {
    padding-top: 200px;
}

textarea:focus,
input:focus,
select:focus {
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
}

/* Responsividade */
@media (max-width: 1024px) {
    .contact-container {
        padding: 2em;
        /* Reduz o padding para telas médias */
    }

    .contact-container h1 {
        font-size: 2em;
        /* Ajusta o tamanho da fonte do título */
    }

    .contact-container p {
        font-size: 1em;
        /* Fonte menor para parágrafos */
    }
}

@media (max-width: 768px) {
    .contact-container {
        padding: 1.5em;
        /* Padding menor para dispositivos menores */
    }

    .contact-container h1 {
        font-size: 1.8em;
        /* Reduz mais o tamanho do título */
        text-align: center;
        /* Centraliza o texto para melhor estética */
    }

    .contact-container p {
        font-size: 0.9em;
        /* Fonte menor para melhorar a leitura */
        text-align: center;
        /* Centraliza o texto */
    }
}

@media (max-width: 480px) {
    .contact-container {
        padding: 1em;
        /* Menor espaçamento para telas muito pequenas */
    }

    .contact-container h1 {
        font-size: 1.5em;
        /* Tamanho reduzido do título */
        text-align: center;
    }

    .contact-container p {
        font-size: 0.8em;
        /* Tamanho menor para parágrafos */
        text-align: center;
    }
}