.home-wrapper {
    width: 100%;
    min-height: 100vh;
}

.home-hero-section {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.home-video-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
}

.home-video-wrapper video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.6;
}

.home-hero-content {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 2;
    color: #ffffff;
    text-align: center;
    background: rgba(0, 0, 0, 0.5);
}

.home-hero-content>div {
    margin: 0 auto;
    width: 80%;
    max-width: 1200px;
    padding: 2rem;
}

.home-hero-content h1 {
    font-size: 3.5rem;
    margin-bottom: 1rem;
    font-weight: 700;
    color: #01257d;
}

.home-hero-content h1 span {
    color: #f8e9d4;
}

.home-hero-content h2 {
    font-size: 2rem;
    margin-bottom: 2rem;
    font-weight: 500;
    color: #01257d;
}

.home-pitch-text {
    max-width: 800px;
    margin: 0 auto 2rem;
}

.home-pitch-text p {
    font-size: 1.3rem;
    line-height: 1.6;
    text-align: center;
    margin-bottom: 20px;
    color: #01247dc6;
}

.home-cta-button {
    display: inline-block;
    padding: 1rem 3rem;
    font-size: 1.5rem;
    color: #01257d;
    background-color: transparent;
    border: 3px solid #01257d;
    border-radius: 25px;
    text-decoration: none;
    transition: all 0.5s ease;
}

.home-cta-button:hover {
    background-color: #01257d;
    color: #f8e9d4;
    cursor: pointer;
}

.home-rates-section {
    width: 100%;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 4rem 0;
    background-color: #f8e9d4;
}

.home-rates-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
}

.home-contact-section {
    padding: 4rem 0;
}


.home-installation-bg {
    margin-top: 100px;
    width: 100vw;
    height: 200px;
    background-image: url('/images/instalation.png');
    background-size: cover;
    background-position: center;
}

/* Responsividade */
@media (max-width: 1024px) {
    .home-hero-content h1 {
        font-size: 2.5em;
    }

    .home-hero-content h2 {
        font-size: 1.8em;
    }

    .home-pitch-text p {
        font-size: 1.2rem;
    }

    .home-cta-button {
        font-size: 1.2em;
        padding: 0.8em 3em;
        border-radius: 20px;
    }
}

@media (max-width: 768px) {
    .home-hero-content h1 {
        font-size: 2em;
    }

    .home-hero-content h2 {
        font-size: 1.5em;
    }

    .home-pitch-text p {
        font-size: 1rem;
    }

    .home-cta-button {
        font-size: 1em;
        padding: 0.6em 2em;
        border-radius: 15px;
    }
}

@media (max-width: 480px) {
    .home-hero-content {
        padding: 1rem;
    }

    .home-hero-content h1 {
        font-size: 1.5em;
    }

    .home-hero-content h2 {
        font-size: 1.2em;
    }

    .home-pitch-text p {
        font-size: 0.9rem;
    }

    .home-cta-button {
        font-size: 0.9em;
        padding: 0.5em 1.5em;
    }

    .home-rates-section {
        margin: 20px;
    }
}